// Place all the styles related to the Purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.purchases-card {
  margin-top: 3em;
}

.purchases-card h4 {
  background-color: #DEE79A;
}

.order-confirmation-card h4 {
  background-color: #DEE79A;
}

.order-confirmation-card h5 {
  margin-top: 1rem;
}
