<p>
  <strong>Name:</strong>
  <%= @event_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_category.description %>
</p>

<%= link_to 'Edit', edit_admin_event_category_path(@event_category) %> |
<%= link_to 'Back', admin_event_categories_path %>